.MainCover {
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url('apps/trinity-front/src/assets/blur.jpg');
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
}

.MainCover .container {
  width: 80%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MainCover .boxImage {
  width: 50%;
  display: flex;
  justify-content: center;
}

.MainCover .boxInfo {
  width: 50%;
}

.MainCover .boxInfo p {
  font-size: 40px;
  font-weight: bold;
}

@media screen and (max-width: 667px) {
  .MainCover {
    height: calc(100vh - 60px);
  }

  .MainCover .container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 27%;
  }

  .MainCover .boxImage {
    width: 70%;
    margin-bottom: 20%;
    order: 1;
  }

  .MainCover .boxImage img {
    width: 100%;
  }

  .MainCover .boxInfo {
    width: 100%;
    order: 2;
  }

  .MainCover .boxInfo p {
    font-size: 27px;
    font-weight: bold;
  }
}
