.button {
  border: 1px solid transparent;
  background-color: transparent;
  padding: 7px 8px;
  transition: background-color 250ms ease;
  cursor: pointer;
}

.button.colorGray {
  background-color: var(--button-color-gray);
  color: var(--font-color-black);
  font-weight: 700;
  font-size: 16px;
  line-height: 19.36px;
  text-transform: uppercase;
  padding: 8px 12px;
}

.button.colorGray:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.button.colorBlue {
  background-color: var(--button-color-blue);
  color: var(--font-color-white);
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 9px;
  border-radius: 10px;
}

.button.colorBlue:hover {
  background-color: var(--button-color-hover);
}

.button.colorBlack {
  background-color: var(--button-color-black);
  color: var(--white);
  font-weight: 700;
  font-size: 15px;
  line-height: 18.15px;
  text-transform: uppercase;
  padding: 9px 20px;
  border-radius: 10px;
}

.button.colorBlack:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.loading {
  cursor: not-allowed;
}

.button.colorGray.loading,
.button.colorBlue.loading,
.button.colorBlack.loading {
  background-color: var(--button-color-disabled);
}

.spinner {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  animation: spinnerAnimation 1s infinite;
}

@keyframes spinnerAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
