.MainCover {
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url('../../assets/images/blur.jpg');
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
}

.tittleh2 {
  padding-bottom: 0px;
}

.MainCover .container {
  width: 90%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MainCover .boxImage {
  width: 40%;
  display: flex;
  justify-content: center;
}

.ImageCover {
  width: 500px;
  height: 500px;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: rgb(115, 166, 37);
  background: linear-gradient(
    128deg,
    rgba(115, 166, 37, 1) 0%,
    rgba(67, 115, 55, 1) 100%
  );
  display: grid;
  place-items: center;
}

.ImageCover__image {
  width: 500px;
  height: 500px;
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.ImageCover__image img {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ImageCover__image:hover {
  transform: rotate(0deg);
}

.MainCover .boxInfo {
  width: 60%;
  margin-left: -10%;
}

.MainCover .boxInfo p {
  font-size: 40px;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .MainCover {
    height: calc(100vh - 60px);
  }

  .MainCover .container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 27%;
  }

  .MainCover .boxImage {
    width: 70%;
    margin-bottom: 20%;
    order: 1;
    margin-top: -10%;
  }

  .MainCover .boxImage img {
    width: 100%;
  }

  .MainCover .boxInfo {
    width: 100%;
    order: 2;
  }

  .MainCover .boxInfo p {
    font-size: 27px;
    font-weight: bold;
  }
  .ImageCover, .ImageCover__image {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 667px) {
  .ImageCover, .ImageCover__image {
    width: 300px;
    height: 300px;
  }
}
