.MainCover {
    /* border: 1px solid red; */
    width: 100%;
    height: calc(100vh - 60px);
    background-image: url('../../assets/blur.jpg');
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
}

.MainCover .container {
  width: 80%;
  /* border: 1px solid green; */
  margin: auto;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MainCover .boxImage {
  width: 50%;
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
}

.MainCover .boxInfo {
  width: 50%;
  /* border: 1px solid green; */
}

.MainCover .boxInfo p {
  font-size: 40px;
  font-weight: bold;
}