header {
  background-color: white;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(50, 51, 51, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

nav,
.PlatformMenu,
.InformativePageMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .logo {
  font-weight: bold;
  color: #11393c;
}

nav .logo img {
  width: 130px;
}

nav a {
  margin-right: 20px;
  color: black;
  text-decoration: none;
}

nav a:last-child {
  margin: 0px;
}

nav .btnLogout {
  background: transparent;
  padding: 8px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease;
}

nav .btnLogout:hover {
  color: #10ac84;
}

.btnMenu {
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  border: none;
}

.InformativePageMenu__Link:Hover {
  border-bottom: 2px solid #3fb13f;
}

.Header__mobile {
  display: none;
}

@media screen and (min-width: 667px) {
  .btnMenu {
    display: none;
  }
}

@media screen and (max-width: 667px) {
  nav a {
    margin: 0px;
  }

  .Header__desktop {
    display: none;
  }

  .btnMenu {
    display: flex;
  }

  .PlatformMenu,
  .InformativePageMenu {
    flex-direction: column;
    align-items: baseline;
  }

  .PlatformMenu .btnLogout {
    padding: 10px 0px 10px 0px;
  }

  .Header__mobile {
    background-color: var(--white);
    width: 100%;
    height: calc(100vh - 60px);
    position: absolute;
    left: 0;
    top: 61px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  .Header__mobile a {
    display: block;
    padding: 10px 10px 10px 0px;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid rgba(50, 51, 51, 0.1);
    margin-bottom: 10px;
  }
}

.close {
  display: none;
}

.open {
  display: block;
}

@media screen and (min-width: 667px) {
  .open {
    display: none;
  }
}