.Plataform {
  width: 80%;
  min-width: 240px;
  padding: 3rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  margin: auto;
  min-height: calc(100vh - 60px);
}

.CardPath {
  width: 100%;
  background-color: var(--design-color-gray);
  color: #000000;
  padding: 15px;
  text-decoration: none;
  transition: var(--transition);
  overflow-wrap: break-word;
  border-radius: 5px;
}

.CardPath__image {
  width: 100%;
  height: 200px;
  border-radius: 7px;
  overflow: hidden;
}

.CardPath__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.CardPath__title {
  text-align: start;
  font-size: 25px;
  margin: 15px 0px 15px 0px;
}

.CardPath:hover {
  background: var(--white);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.img_Online {
  height: 40px;
  width: 40px;
}

.RecomemdedCards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding-bottom: 30px;
}

.Recomended {
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  border: 2px solid var(--color-light-gray);
}

.Recomended:hover {
  background: var(--color-light-gray);
  border-radius: 10px;
}

.Recomended__image {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Recomended__content {
  width: 100%;
  min-height: 75px;
  text-align: center;
  overflow-wrap: break-word;
}

.Recomended__content h3 {
  font-size: 17px;
}

.Recomended__content p {
  font-size: 17px;
  font-weight: bold;
}

.center_target {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.tittleh2 {
  padding-top: 15px;
}

.Content_recomended:hover {
  cursor: pointer;
}

.contenedorImage {
  position: relative;
  width: 100%;
  height: 400px;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  align-items: center;
}

.contenedorImage img {
  object-fit: scale-down;
  width: 100%;
  height: auto;
  /* border: 2px solid green; */
  border-radius: 5px;
}

@supports(object-fit: cover) {
  .contenedorImage img {
    height: 70%;
    width: 80%;
    object-fit: cover;
    object-position: center center;
  }
}

.textDescription {
  padding: 10px;
  font-size: 15px;
}

.textDescription p {
  padding: 10px;
}

.Content_paths {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: auto;
  gap: 40px;
}

@media screen and (max-width: 796px) {
  .Content_paths {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contenedorTargetas {
    width: 100%;
  }

  /* .RecomemdedCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  } */
}

@media screen and (max-width: 667px) {
  .Content_paths {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .tittleh2 {
    margin: auto;
  }

  .contenedorTargetas {
    width: 100%;
  }
}

@media screen and (max-width: 367px) {
  .RecomemdedCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
