footer {
  background-color: #F9F9F9;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}

footer nav:first-child {
  width: 80%;
  height: 200px;
  /* height: 225px; */
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

footer nav:last-child {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-top: 1px solid rgba(50, 51, 51, 0.10);
}

.ListOfSocialMedia {
  display: flex;
  list-style: none;
  margin-top: 10px;
}

.ListOfSocialMedia li {
  margin-right: 10px;
  cursor: pointer;
}

.ListOfSocialMedia li:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 667px) {
  footer {
    font-size: 15px;
  }

  footer nav:first-child {
    width: 90%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  footer .nav__item ul.ListOfService{
    margin-left: 30px;
  }

  footer .nav__item {
    margin-top: 25px;
  }
  
}