.TableComponent {
  width: 100%;
  margin: 25px 0px 25px 0px;
  position: relative;
}

.TableComponent__header {
  display: grid;
  list-style: none;
  border-bottom: 1px solid var(--border-bottom-color-gray);
}

.TableComponent__item li {
  overflow-wrap: break-word;
  list-style: none;
  padding: 15px 0px 15px 10px;
}

.TableComponent__header {
  background-color: var(--table-header-color-gray);
  width: 100%;
  font-weight: bold;
  color: var(--color-dim-dark-gray);
  padding: 15px 0px 15px 10px;
  border-bottom: 1px solid var(--border-bottom-color-gray);
}

.Table__row {
  display: grid;
  border-bottom: 1px solid var(--border-bottom-color-gray);
}

.Table__row li:last-child{
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Table__actions svg {
  width: 25px;
  height: 25px;
}

.BtnDelete {
  color: var(--button-color-red);
}

.Table__actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 15px;
}

.darkGreen {
  color: var(--color-dark-green-act);
  font-weight: bold;
}

.darkBlue {
  color: var(--color-dark-green-disa);
  font-weight: bold;
}

.TextClipped {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.LevelPrincipiante {
  color: var(--design-int-color-blue);
  font-weight: bold;
}

.LevelIntermedio {
  color: var(--design-pr-color-yellow);
  font-weight: bold;
}

.LevelAvanzado {
  color: var(--design-avan-color-red);
  font-weight: bold;
}

.TableComponent__item ul:last-child {
  grid-column-start: 1;
  grid-column-end: initial;
}

.ButtonsPagination {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.ButtonsPagination li {
  border-bottom: none;
}

.ButtonsPagination a {
  font-weight: bold;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.ButtonsPagination a:hover {
  color: var(--white);
  background-color: #000000a6;
}

.PaginationDisabled a,
.PaginationDisabled a:hover {
  color: #979797;
  background-color: var(--color-light-gray);
  cursor: not-allowed;
}

.PaginationActive a {
  color: var(--white);
  background-color: var(--black);
}

@media screen and (min-width: 1400px) {
  .TableComponent{
    max-width: 1400px;
  }
}

@media screen and (max-width: 1400px) {
  .TableComponent {
    overflow-x: scroll;
  }

  .TableComponent__header,
  .TableComponent__item {
    width: 1150px;
  }
}

@media screen and (max-width: 1067px) {
  .TableComponent {
    overflow-x: scroll;
  }
    
  .ButtonsPagination {
    max-width: 500px;
    list-style: none;
    display: flex;
    justify-content:flex-end,
  }
}

@media screen and (max-width: 867px) {
  .ButtonsPagination {
    width: calc(100vh - 140px);
    list-style: none;
    display: flex;
    justify-content:flex-end,
  }
}
