.TableComponent {
  width: 100%;
  margin: 25px 0px 25px 0px ;
}

.TableComponent__header, .TableComponent__item {
  display: grid;
  list-style: none;
  border-bottom: 1px solid #D9D9D9;
}

.TableComponent__item li {
  padding: 15px 0px 15px 10px;
  border-bottom: 1px solid #D9D9D9;
}

.TableComponent__header {
  background-color: rgba(217, 217, 217, 0.2);
  width: 100%;
  font-weight: bold;
  color: #414141;
  padding: 15px 0px 15px 10px;
}

.Table__actions  svg {
  width:  25px;
  height: 25px;
}

.BtnDelete {
  color: #C0392B;
}

.Table__actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 15px;
}

.darkGreen {
  color: var(--color-dark-green-act);
  font-weight: bold;
}

.darkBlue {
  color: var(--color-dark-green-disa);
  font-weight: bold;
}

.TextClipped {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.LevelPrincipiante {
  color: var(--design-int-color-blue);
  font-weight: bold;
}

.LevelIntermedio {
  color: var(--design-pr-color-yellow);
  font-weight: bold;

}

.LevelAvanzado {
  color: var(--design-avan-color-red);
  font-weight: bold;
}

.TableComponent__item ul:last-child {
  grid-column-start: 1;
  grid-column-end: initial;
}

.ButtonsPagination {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.ButtonsPagination li {
  border-bottom: none;
}

.ButtonsPagination a {
  font-weight: bold;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.ButtonsPagination a:hover {
  color: white;
  background-color: #000000a6;
}

.PaginationDisabled a, .PaginationDisabled a:hover {
  color: #979797;
  background-color: var(--color-light-gray);
  cursor: not-allowed;
}


.PaginationActive a {
  color: white;
  background-color: #000000;
}

@media screen and (max-width: 667px){
  .TableComponent {
    width: 800px;
    overflow-x: scroll;
  }
}
