@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
  --button-color-gray: #ecf0f1;
  --button-color-blue: #0984e3;
  --button-color-hover: #1985e3c9;
  --button-color-black: #000000;
  --button-color-disabled: #aaa8a8;

  --font-color-black: #000;
  --font-color-white: #fff;

  --white: #fff;
  --black: #000;

  --swiper-theme-color: var(--trinity-color-dark-green);

  --trinity-color-green: #73A625;
  --trinity-color-light-green: #74BF03;
  --trinity-color-dark-green: #437337;
  --trinity-color-black: #0D0D0D;

  --color-dark-green-act: #2A685B;
  --color-dark-blue-disa: #2F2E41;

  --button-color-red: #c0392b;
  --button-color-red-hover: #912a1e;

  --button-color-black: #131418;
  --button-color-black-hover: #131418c9;

  --button-color-gray: #ecf0f1;
  --color-light-gray: #f7f7f7;
  --button-color-dark-gray: #323333;
  --color-dim-dark-gray: #414141;
  --button-color-gray-hover: #bbbbbb;
  --border-bottom-color-gray: #d9d9d9;
  --table-header-color-gray: rgba(217, 217, 217, 0.2);
  --transition: all 400ms ease;

  --design-color-gray: rgba(230, 230, 230, 0.3);
  --design-pr-color-yellow: #ff9f43;
  /* Principiante */
  --design-int-color-blue: #0b4e7a;
  /* Intermedio */
  --design-avan-color-red: #c23616;
  /* Avanzado */
  --design-pr-dim-color-yellow: rgba(254, 202, 87, 0.2);
  /* Principiante */
  --design-int-dim-color-blue: rgba(52, 152, 219, 0.2);
  /* Intermedio */
  --design-avan-dim-color-red: rgba(232, 65, 24, 0.2);
  /* Avanzado */

  /* Alerts */
  --color-success: rgba(16, 172, 132, 0.5);
  --border-color-success: #10ac84;
  --color-denied: rgba(255, 82, 82, 0.5);
  --border-color-denied: #b33939;
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.no-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App {
  width: 100%;
}

.btnStandard {
  display: inline-block;
  margin-top: 15px;
  padding: 11px 17px;
  border-radius: 7px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-out;
  text-decoration: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btnStandard:disabled,
.btnStandard[disabled],
.btnStandard:disabled:hover,
.btnStandard[disabled]:hover {
  color: #979797;
  background-color: var(--color-light-gray);
  cursor: not-allowed;
}

.btnStandard {
  margin-right: 10px;
}

.btnStandard:last-child {
  margin-right: 0px;
}

.btnStandard a {
  width: inherit;
  display: flex;
}

.btnNormal {
  background-color: var(--button-color-gray);
  color: #131418;
}

.btnNormal:hover {
  background-color: var(--button-color-gray-hover);
}

.btnDark {
  background-color: var(--button-color-black);
  color: var(--white);
}

.btnDark:hover {
  background-color: var(--button-color-black-hover);
}

.btnGreen {
  background-color: #0984e3;
  color: var(--white);
  transition: all 0.1s ease-out;
}

.btnGreen:hover {
  background-color: #10ac84;
}

.btnBlue {
  background-color: var(--button-color-blue);
  color: var(--white);
  transition: all 0.1s ease-out;
}

.btnBlue:hover {
  background-color: var(--button-color-hover);
}

.btnRed {
  background-color: var(--button-color-red);
  color: var(--white);
  transition: all 0.1s ease-out;
}

.btnRed:hover {
  background-color: var(--button-color-red-hover);
}

.Plataform {
  width: 80%;
  padding: 3rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: calc(100vh - 60px);
}

.Dashboard {
  width: 80%;
  padding: 3rem 0 3rem 0;
  margin: auto;
  min-height: calc(100vh - 60px);
}

.Plataform h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.ModalContainer {
  position: relative;
  width: 50%;
  min-height: 200px;
  background-color: var(--white);
  color: #000000;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.ModalContainer span {
  font-size: 30px;
}

.Modal__alert svg {
  width: 50px;
  height: 50px;
  color: var(--button-color-red);
}

.ModalContainer h2,
.DisabledContainer h2 {
  margin-bottom: 12px;
}

.ModalContainer h2 {
  margin-top: 17px;
}

.formControl {
  width: 100%;
}

.formControl input {
  width: 100%;
}

.FormContaner input {
  width: 100%;
}

.no-link {
  color: var(--black);
  text-decoration: none;
}

@media screen and (min-width: 1400px) {
  .MainCover .container {
    max-width: 1150px;
  }

  .Plataform {
    max-width: 1400px;
  }

  .AboutUs p {
    max-width: 65%;
  }

  .Complement .boxInfo h3 {
    max-width: 10%;
  }

  .Complement .boxInfo p {
    max-width: 40%;
  }

  .Service .ServiceCards {
    max-width: 50%;
  }
}

@media screen and (max-width: 827px) {
  .ModalContainer {
    width: 80%;
  }
}

@media screen and (max-width: 667px) {
  .Plataform {
    width: 90%;
  }
}

@media screen and (max-width: 367px) {
  .Plataform {
    width: 90%;
  }
}
