@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.buttonTop {
  background-color: transparent;
  border: none;
  position: fixed; 
  width: 30px;
  height: 30px;
  right: 5%;
  bottom: 40px;
  font-size: 3rem;
  right: 5%;
  z-index: 1;
  bottom: 20%;
  cursor: pointer;
  color: green;
}

.App {
  width: 100%;
}

.btnStandard {
  margin-top: 15px;
  padding: 11px 17px;
  border-radius: 7px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all .1s ease-out;
}

.btnNormal {
  background-color: #ecf0f1;
  color: #161616;
}

.btnNormal:hover {
  background-color: #bbbbbb;
}

.btnDark {
  background-color: #131418;
  color: #ffffff;
}

.btnDark:hover {
  background-color: #131418c9;
}

.btnGreen {
  background-color: #1dd1a1;
  color: #fff;
  transition: all .1s ease-out;
}

.btnGreen:hover {
  background-color: #10ac84;
}

.Plataform {
  width: 80%;
  padding: 3rem 0 3rem 0;
  display: flex; 
  flex-direction: column;
  margin: auto;
  min-height: calc(100vh - 60px);
}

.Plataform h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

@media screen and (max-width: 667px) {
  .Plataform {
    width: 90%;
  }
}

@media screen and (min-width: 1400px) {
  .MainCover .container {
    max-width: 1100px;
  }

  .Plataform {
    max-width: 1400px;
  }

  .AboutUs p {
    max-width: 65%;
  }
  
  .Complement .boxInfo h3 {
    max-width: 10%;
  }
  
  .Complement .boxInfo p {
    max-width: 40%;
  }

  .Service .ServiceCards {
    max-width: 50%;
  }
  
}