.MainTitle h2 {
  font-size: 25px;
  color: #323333;
}

.LoaderBackground {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 60px;
  height: 60px;
  display: inline-block;
  position: relative;
}

.loader::after,
.loader::before {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgb(85, 85, 85);
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: animloader 2s ease-in-out infinite;
}

.loader::after {
  animation-delay: 1s;
}

.MainTitle hr {
  background-color: #323333;
  width: 50px;
  height: 3px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 30px;
}

.ItemContent {
  background-color: #7bed9f;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  padding: 10px 15px;
  border-radius: 13px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.ItemContent:hover {
  background-color: #61b87c;
}

.ItemContent:last-child {
  margin-right: 0px;
}

.ItemContent p {
  color: #11393c;
}

.Greetings h1 {
  text-align: left;
}

.Greetings p {
  text-transform: capitalize;
}

@media screen and (max-width: 667px) {
  .MainTitle h2 {
    font-size: 22px;
    color: #323333;
  }
}

@keyframes animloader {
  0%,
  100% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
}
