.MainTitle h2 {
  font-size: 25px;
  color: #323333;
}

.MainTitle hr {
  background-color: #323333;
  width: 50px;
  height: 3px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 30px;
}

.ItemContent {
  background-color: #7bed9f;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  padding: 10px 15px;
  border-radius: 13px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 10px;
  transition: all .3s ease;
}

.ItemContent:hover {
  background-color: #61b87c;
}

.ItemContent:last-child {
  margin-right: 0px;
}

.ItemContent p {
  color: #11393c;
}

@media screen and (max-width: 667px) {
  .MainTitle h2 {
    font-size: 22px;
    color: #323333;
  }
}
